5_6077866511865741549.json
[{"id":"fb4dc49f.bc0d18","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"9cbde666.64ba98","type":"ui_form","z":"fb4dc49f.bc0d18","name":"","label":"","group":"8fa57584.4136d8","order":1,"width":0,"height":0,"options":[{"label":"AVGHEARTBEATSPERMIN","value":"a","type":"number","required":true,"rows":null},{"label":"PALPITATIONSPERDAY","value":"p","type":"number","required":true,"rows":null},{"label":"CHOLESTEROL","value":"c","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"AGE","value":"ag","type":"number","required":true,"rows":null},{"label":"SEX","value":"s","type":"text","required":true,"rows":null},{"label":"FAMILYHISTORY","value":"f","type":"text","required":true,"rows":null},{"label":"SMOKERLAST5YRS","value":"sm","type":"text","required":true,"rows":null},{"label":"EXERCISEMINPERWEEK","value":"e","type":"number","required":true,"rows":null}],"formValue":{"a":"","p":"","c":"","bmi":"","ag":"","s":"","f":"","sm":"","e":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":50,"y":260,"wires":[["acfb0c21.109d7","a54b075.1a2fbf8"]]},{"id":"acfb0c21.109d7","type":"debug","z":"fb4dc49f.bc0d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":230,"y":340,"wires":[]},{"id":"a54b075.1a2fbf8","type":"function","z":"fb4dc49f.bc0d18","name":"pre-token","func":"global.set(\"a\",msg.payload.a)\nglobal.set(\"p\",msg.payload.p)\nglobal.set(\"c\",msg.payload.c)\nglobal.set(\"bmi\",msg.payload.bmi)\nglobal.set(\"ag\",msg.payload.ag)\nglobal.set(\"s\",msg.payload.s)\nglobal.set(\"f\",msg.payload.f)\nglobal.set(\"sm\",msg.payload.sm)\nglobal.set(\"e\",msg.payload.e)\nvar apikey=\"ovzBEDeNTUiHGWlQIX6QLorG1tvkLeGdf8Cc9wF0nQMF\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":240,"y":200,"wires":[["23daf70b.c65518"]]},{"id":"23daf70b.c65518","type":"http request","z":"fb4dc49f.bc0d18","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":392.00000381469727,"y":244.00000286102295,"wires":[["bb753b26.3b5be8","8e3bc22d.9a493"]]},{"id":"bb753b26.3b5be8","type":"debug","z":"fb4dc49f.bc0d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":580,"y":300,"wires":[]},{"id":"8e3bc22d.9a493","type":"function","z":"fb4dc49f.bc0d18","name":"Pre Prediction","func":"var a = global.get(\"a\")\nvar p = global.get(\"p\")\nvar c = global.get(\"c\")\nvar bmi = global.get(\"bmi\")\nvar ag = global.get(\"ag\")\nvar s = global.get(\"s\")\nvar f = global.get(\"f\")\nvar sm = global.get(\"sm\")\nvar e = global.get(\"e\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"AVGHEARTBEATSPERMIN\" , \"PALPITATIONSPERDAY\", \"CHOLESTEROL\", \"BMI\", \"AGE\", \"SEX\", \"FAMILYHISTORY\", \"SMOKERLAST5YRS\", \"EXERCISEMINPERWEEK\"]],\"values\": [[a,p,c,bmi,ag,s,f,sm,e]]}]}\nreturn msg;\n\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":584.0000076293945,"y":196.0000021457672,"wires":[["2247922e.f09bae"]]},{"id":"2247922e.f09bae","type":"http request","z":"fb4dc49f.bc0d18","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://jp-tok.ml.cloud.ibm.com/ml/v4/deployments/5a88ac38-ae97-406b-8fa9-7761236ab0ba/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":810,"y":220,"wires":[["cdd70ac3.8842d8","1fe9535.a3aefad"]]},{"id":"cdd70ac3.8842d8","type":"debug","z":"fb4dc49f.bc0d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":962.9999914169312,"y":304.00000381469727,"wires":[]},{"id":"319a38ad.c4d438","type":"debug","z":"fb4dc49f.bc0d18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":793.9999885559082,"y":87.0000057220459,"wires":[]},{"id":"1fe9535.a3aefad","type":"function","z":"fb4dc49f.bc0d18","name":"Parsing","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":639.6000595092773,"y":128.00000190734863,"wires":[["319a38ad.c4d438","31cac67.ed16e3a"]]},{"id":"31cac67.ed16e3a","type":"ui_text","z":"fb4dc49f.bc0d18","group":"8fa57584.4136d8","order":2,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":757.6000366210938,"y":361.20001220703125,"wires":[]},{"id":"8fa57584.4136d8","type":"ui_group","z":"","name":"New","tab":"20187873.b51098","order":1,"disp":true,"width":"6","collapse":false},{"id":"20187873.b51098","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]